%table
  %tr
    %th.left{:width => "15%"}=t 'rounds.date'
    %th.left{:width => "30%"}=t 'rounds.course'
    %th{:width => "5%"}=t 'rounds.tee'
    %th.center{:width => "10%"}=t 'rounds.score'
    %th.center{:width => "10%"}=t 'rounds.fairways'
    %th.center{:width => "20%"}=t 'rounds.greens'
    %th.center{:width => "10%"}=t 'rounds.putts'
= render :partial => "round_short", :collection => @rounds, :item => :round