 
- form_for @round do |f|
  = f.hidden_field :step, :value => "score-card"
  .error
    = f.error_messages

  %table
    %tr
      %td{:colspan => 2}
        %table
          %tr
            %th=t 'rounds.hole.position'
            %th=t 'rounds.hole.distance'
            %th=t 'rounds.hole.par'
            %th=t 'rounds.hole.score'
            %th=t 'rounds.hole.fairway'
            %th=t 'rounds.hole.green'
            %th=t 'rounds.hole.sandsave'
            %th=t 'rounds.hole.putts'
          - f.fields_for :round_holes do |builder|
            = render "round_hole", :f => builder
    %tr
      %td{:colspan => 2}
        = f.submit "Save"