body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: normal;
	border: 0 none;
}

body h1, h2, h3, h4, h5 {
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 4px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#content {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  background-color: #FFF;
}

.notice {
	-webkit-box-shadow: #1d1d1d 2px 2px 2px;
	-moz-box-shadow: 2px 2px 2px #1d1d1d;
	background-image: url(../images/bkg-alert.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	color: #fff;
	padding: 5px 10px 10px;
}

.notice h3 {
  line-height: 30px;
  background-image: url(../images/icon-alert.png);
  background-position: left top;
  background-repeat: no-repeat;
  padding-left: 40px;
}

.error {
	background-color: #a11c39;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
