.course-card {
	border-spacing: 0;
	margin-bottom: 20px;
}

.course-card tr {
	line-height: 25px;
}

.hole-positions {
	text-align: center;
}

.hole-positions > * > input[type=text] {
	
}

.hole-handicap-cell {
	text-align: center;
}

.hole-par-cell {
	text-align: center;
}

.hole-info {
	text-align: center;
}

.black {
	background-color: #666;
}

.white {
	background-color: #fff;
}

.yellow {
	background-color: #f2f22a;
}

.blue {
	background-color: #362bc7;
}

.red {
	background-color: #ef0d33;
}