%table.course-card{:border => "0", :width => "100%"}
  %tr.hole-positions
    %th=t 'hole'
    - @course.holes.each do |hole|
      %th=h hole.position
  %tr
    %td=t 'par'
    - @course.holes.each do |hole|
      %td.hole-par-cell=h hole.par
  %tr
    %td=t 'handicap.short'
    - @course.holes.each do |hole|
      %td.hole-handicap-cell=h hole.handicap
  - %w{ black white yellow blue red }.each do |color|
    %tr{:class => "hole-info #{color}"}
      %td &nbsp;
      - @course.holes.each do |hole|
        %td=h hole.info(color).distance
