%h1=t 'courses.list'

#courses
  - @courses.each do |course|
    %div.course
      %div.course-header
        %div.name= link_to h(course.name), course
        %div.par=h "Par #{course.par}"
      %div.course-body
        %div.description=h course.description
